@page "/sample5"
@using SkiaSharp
@using SkiaSharp.Views.Blazor

<PageTitle>Sample 5</PageTitle>

<h1>Draw text using <code>SKImageFilter</code> blur with <code>SKShaderTileMode.Clamp</code> flag, inside <code>SKGLView</code> component</h1>
<p>It seems to work</p>
<code>SKImageFilter.CreateBlur(sigmaX,sigmaY,SKShaderTileMode.Clamp)</code>

<SKGLView IgnorePixelScaling="true" EnableRenderLoop="true" OnPaintSurface="OnPaintSurface"/>

@code {
    private void OnPaintSurface(SKPaintGLSurfaceEventArgs e)
        {
            var canvas = e.Surface.Canvas;

            // below is a sample from:
            // https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/graphics/skiasharp/effects/image-filters

            float dx = 5;
            float dy = 5;
            float sigmaX = 3.5f;
            float sigmaY = 3.5f;

            using (SKPaint paint = new SKPaint())
            {
                // Set SKPaint properties
                paint.TextSize = 100;
                paint.Color = SKColors.Blue;

                // ImageFilter leads to a "memory access out of bounds" exception
                // while the application is running
                paint.ImageFilter = SKImageFilter.CreateBlur(sigmaX,sigmaY,SKShaderTileMode.Clamp);

                float xText = 0;
                float yText = 100;

                canvas.DrawText("SKIA", xText, yText, paint);
            }
        }
}

